rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /issues/{issueId} {
      allow read: if true;
      allow write: if false; // tighten with Firebase Auth for editors/admin

      match /articles/{articleId} {
        allow read: if true;
        allow write: if false;
      }
    }
  }
}
